.container .navbar-brand {
  color: red;
  font-weight: bold;
}
.nav_btn {
  background-color: red;
  color: white;
  padding: 4px;
  padding-left: 10px;
  padding-right: 10px;
  transform: skew(-10deg);
  font-weight: 400;
  border: none;
}
.container-fluid {
  background-color: rgba(239, 238, 237, 0.721);
}
#Myheading {
  padding: 110px;
  font-weight: 900;
  font-weight: bolder;
}
.paragraph {
  font-size: large;
  margin-top: 10px;
  font-weight: lighter;
  color: gray;
}
li span {
  color: red;
  margin-right: 8px;
}
.nav-item {
  margin-left: 40px;
}
.mybtn {
  padding: 4px;
  width: auto;
  border: 2px solid red;
  color: grey;
}
#footer {
  background-color: rgba(182, 175, 168, 0.721);
  padding: 30px;
  padding-left: 150px;
}
h6 {
  font-weight: bold;
}
#footer p {
  font-size: small;
  font-weight: 500;
  margin-top: 5px;
  text-shadow: aliceblue;
}
.footerBtn_1 {
  width: 150px;
  height: 30px;
  background-color: rgb(240, 48, 48);
  color: white;
  border: none;
  padding-right: 85px;
}
.footerBtn_2 {
  margin-left: 4px;
  border-color: crimson;
  color: grey;
}
.copy_right {
  color: grey;
  text-align: center;
}
